<h2>Add this song</h2>

<%= form_for @song do |f| %>
  <%= label_tag :artist %><%= text_field_tag :artist %>
  <%= f.label :name %><%= f.text_field :name %>
  <%= f.label :body %><%= f.text_area :body %>

  <%= f.submit %>
<% end %>
