<!DOCTYPE html>
<html>
<head>
  <title>Getdown</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,800,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'blueprint/screen.css', media: 'screen, projection' %>
  <%= stylesheet_link_tag    'blueprint/print.css',  media: 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag  'blueprint/ie.css', media: 'screen, projection' %>
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<div class="span-24 header">
  <h1>Visualize ♫ Play ♫ Get Down</h1>

  <div id="user_nav">
    <% if current_user %>
      Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
</div>

<div class="span-4"></div>
<div class="span-16">
  <%= yield %>
</div>
<div class="span-4 last"></div>

<div class="span-24 footer">
  We hope you like jamming too.
</div>
</div>

</body>
</html>
